[Unit]
Description=Gunicorn Daemon to deploy ImageNet21k Model with fastAPI
After=network.target

[Service]
User=deploy
Group=www-data
WorkingDirectory=/home/deploy/imagenet21k
ExecStart=/home/deploy/envs/img21k/bin/gunicorn -c /home/deploy/imagenet21k/gunicorn_conf.py main:app

[Install]
WantedBy=multi-user.target
